        * {
            margin: 0;
            padding: 0;
            box-sizing: content-box;
            font-family: 'poppins'sans-serif;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url(./image/ABC/1.jpg);
            background-size: cover;
        }
        
        .calculator {
            width: 380px;
            display: grid;
            background-color: rgba(30, 210, 63, 0.415);
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
        .calculator span {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: rgba(240, 248, 255, 0);
            font-size: 1.2em;
            color: black;
            font-weight: 500;
        }
        
        .calculator span :host {
            cursor: pointer;
        }
        
        .calculator .operation {
            background: rosybrown;
            color: white;
        }
        
        .calculator .clear {
            background: rosybrown;
            color: wheat;
        }
        
        .calculator.inputArea {
            grid-template-columns: span 4;
            padding: 20px 10px;
            outline: none;
            border: none;
            font-size: 1.3em;
        }
        
        .calculator.red {
            background-color: brown;
        }
        
        .calculator .plus {
            grid-row: span 2;
            height: 120px;
            line-height: 120px;
            background-color: bisque;
        }
        
        .calculator .equal {
            width: 120px;
            grid-column: span 2;
            background-color: rgba(225, 65, 65, 0.233);
            font-size: 1.8em;
        }
        
        #history {
            width: 210px;
            height: 266.2px;
            overflow-y: scroll;
            font-size: 1.1em;
            background: rgba(0, 255, 26, 0.505);
            box-sizing: border-box;
            padding: 10px 10px;
        }
        
        #history::-webkit-scrollbar {
            width: 0;
        }
        
        #history h3 {
            padding: 10px 0px;
            font-size: 1.2em;
        }
        
        #history p:last-child {
            font-size: 1.3em;
            font-weight: 500;
            color: aliceblue;
        }